<p> Title: <%= @article.title %> </p>
<p> Description: <%= @article.description %> </p>

<%= link_to "Вернуться к прогнозам", articles_path %>
<%= link_to "Редактировать", edit_article_path(@article) %>