<head>
    <style>
        .lowreg {
            margin-top: 90px;
        }
        
        h1 {
              color: white;
              text-align: center;
              padding-bottom: 25px;
              font-family: Georgia, "Times New Roman", Times, serif;
              font-weight: 700;
              font-size: 2.75em;
              background: rgb(38, 36, 48);
              margin-top: 10px;
              padding-top: 12px;
        }
        
        .formcontrol {
             padding-top: 30px;
            margin-top: 20px;
            border: 2px solid rgb(38, 36, 48);
            padding-bottom: 30px;
        }
        
    </style>
</head>
<body>
<div class="lowreg">
<h1 align="center">Зарегестрироваться в A-club </h1>
</div>
<div class="formcontrol">
<%= render 'form' %>
</div>
</body>