$navbar-default-bg: #2d306e;

@import "bootstrap-sprockets";
@import "bootstrap";

.collorpg {
    background-color: ghostwhite;
}

#logo {
    color: white;
    font-weight: bold;
    font-size: 1.7em ;
    float: left;
  // text-transform: uppercase;
 // letter-spacing: -1px;
}

.center {
    text-align: center;
}

.jumbotron {
    
}

footer {
     margin-top: 45px;
     padding-top: 15px;
     border-top: 1px solid #eaeaea;
}

