
        <footer class="footer">
                <div class="row"> 
                        <div class="col-sm-offset-4 col-sm-3">
                                <%= link_to image_tag('vk.png'), 'https://vk.com/4dagang', :target => "_blank" %>
                                <%= link_to image_tag('inst.png'), 'https://www.instagram.com/aclubets/', :target => "_blank" %>
                        </div>
                          
                </div>
        <nav>
            
        </nav>
    </footer>

