
        <footer class="footer">
        <small>
            by Vladimir Alferov
        </small>
        <nav>
            <ul>
               <li> <%= link_to "О клубе", "#" %></li>
            </ul>
        </nav>
    </footer>

